 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100%;
    font-size: 1rem;
}
.page-header h1{
    margin-top: 0rem;
    font-weight: bold;
    font-size: 4rem;
    color: rgb(82, 230, 188);
    margin-left: 0rem;
}
.page-header p{
    font-size: 1.2rem;
    padding-left: 250px;
}
.page-header button{
    margin-left: 150px;
}
